---
layout: default
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ '/' | relative_url }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ '/rss.xml' | relative_url }}">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                {% include post_meta.html hideProfileImage=true post=page %}
            </section>
        </header>

        <section class="post-content">
            {{ content }}
        </section>

        <section class="post-tags">
            <p>Tags:
            {% if page.tags.size > 0 %}
                <span>{{ page.tags | sort | array_to_sentence_string | prepend: ' ' }}</span>
            {% else %}
                <span> None</span>
            {% endif %}
            </p>
        </section>

        <section class="archive">
            <h5>Recent Posts</h5>
            <ul>
                {% for post in site.related_posts %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ '/' | relative_url }}" style="background-image: url(/assets/images/profile.jpg)">
                        <span class="hidden">{{ site.author }}'s Picture</span>
                    </a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        I am avid programmer interested in learning new languages and using new technologies.
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% unless page.comments == false %}
                {% include disqus.html %}
            {% endunless %}
        </footer>

    </article>

</main>
